:root {
  /* light or dark clock */

  /* dark clock */
  /* --colorbkg: #000000ff;
  --colordig: #ffffff7d;
  --opacity: 0.5;
  --filter: saturate(80%) brightness(140%); */

  /* light clock */
  --colorbkg: #00000000;
  --colordig: #00000054;
  --opacity: 0.6;
  --filter: saturate(100%);
/*-----------------------------------*/
  /* clock color palette */

  /* original day clock */
  /* --colorh: #8a8a8a;
  --colorm: #0000FF;
  --colors: #FF0000; */

  /* original night clock */
  /* --colorh: #f97f7f;
  --colorm: #79bae4;
  --colors: #86ef76; */

  /* tuscan clock */
  /* --colorh: #ff7a25;
  --colorm: #8bfa2b;
  --colors: #ffda46; */

  /* forest clock */
  /* --colorh: #3b7161;
  --colorm: #6cad9a;
  --colors: #96c581; */

  /* iced grape clock */
  /* --colorh: #713b6f;
  --colorm: #746cad;
  --colors: #81b2c5; */

  /* desert clock */
  --colorh: #d1a037;
  --colorm: #ad6a36;
  --colors: #ba4431;

  /* rose clock */
  /* --colorh: #d17065;
  --colorm: #ad5c90;
  --colors: #985aba; */

  /* aquatic clock */
  /* --colorh: #4b62a8;
  --colorm: #5fada6;
  --colors: #72c573; */

}

path {
    fill: blue;
}

#config {
  overflow: hidden;
}
input[type="range"] {
   /* position: absolute; */
   /* top: 40%; */
   transform: rotate(180deg);
}
#brightness {
  position:relative;
  /* top:-20px; */
  /* margin-left: 15px; */
  float:left;
}
.brightnesstoggle {
  position:relative;
  /* top:-20px; */
  /* left:375px; */
  float:left;
  margin-right: 5px;
  margin-left: 3px;
}
/* #menu {
  margin-top: 45px;
} */
#colorform {
  color: var(--colordig);
  /* margin-left: 15px; */
  margin-top: 10px;
}
.menutoggle {
  /* position: absolute;
  top:450px;
  left:10px; */
  float:left;
  margin: 0px 12.7655px;
}
div.clock_container {
  align-items: center;
  align-content: center;
  width:400px;
  height:400px;
  /* display: inline-block; */
  /* float:left; */
}
#clock {
  width:400px;
  height:400px;
  position:relative;
}
div.dig, div#center, div.hour, div.min, div.sec {
  position:absolute;
}
div.hour, div.min, div.sec {
  width:5px;
  height:5px;
  font-size:5px;
}
div.dig {
  width:30px;
  height:30px;
  font-family:arial,verdana,sans-serif;
  font-size:36px;
  text-align:center;
  padding-top:10px
}
body {
  background-color: var(--colorbkg);
}
div.dig {
  color: var(--colordig);
}
div.hour {
  background: var(--colorh);
  opacity: var(--opacity);
  filter: var(--filter);
}
div.min {
  background: var(--colorm);
  opacity: var(--opacity);
  filter: var(--filter);
}
div.sec {
  background: var(--colors);
  opacity: var(--opacity);
  filter: var(--filter);
}
#center {
  background: var(--colordig);
  width: 6px;
  height: 6px;
  font-size: 6px;
  margin: 0px;
}
#sec1 {
  display: none;
}
#min1 {
  display: none;
}
#hour1 {
  display: none;
}
