:root {
  /* light or dark clock */

  /* dark clock */
  /* --colorbkg: black;
  --opacity: 0.5;
  --filter: saturate(80%) brightness(140%); */

  /* light clock */
  --colorbkg: white;
  --opacity: 0.6;
  --filter: saturate(100%);
/*-----------------------------------*/
  /* clock color palette */

  /* original day clock */
  /* --colorh: #8a8a8a;
  --colorm: #0000FF;
  --colors: #FF0000; */

  /* original night clock */
  /* --colorh: #f97f7f;
  --colorm: #79bae4;
  --colors: #86ef76; */

  /* tuscan clock */
  /* --colorh: #f38854;
  --colorm: #7ed08a;
  --colors: #f3e772; */

  /* forest clock */
  --colorh: #3b7161;
  --colorm: #6cad9a;
  --colors: #96c581;

}

#colorform {
  color: #959595;
}
#menu {
  margin-top: 25px;
}
div.clock_container {
  align-items: center;
  align-content: center;
  width:400px;
  height:400px;
  /* display: inline-block; */
  float:left;
}
#clock {
  width:400px;
  height:400px;
  position:relative;
}
#menutoggle {
  position:absolute;
  top:25px;
  left:375px;
}
#lighttoggle {
  position:absolute;
  top:60px;
  left:375px;
}
#darktoggle {
  position:absolute;
  top:60px;
  left:375px;
}
div.dig, div#center, div.hour, div.min, div.sec {
  position:absolute;
}
div.hour, div.min, div.sec {
  width:5px;
  height:5px;
  font-size:5px;
}
div.dig {
  width:30px;
  height:30px;
  font-family:arial,verdana,sans-serif;
  font-size:36px;
  text-align:center;
  padding-top:10px
}
body {
  background-color: var(--colorbkg);
}
div.dig {
  color: #959595;
}
div.hour {
  background: var(--colorh);
  opacity: var(--opacity);
  filter: var(--filter);
}
div.min {
  background: var(--colorm);
  opacity: var(--opacity);
  filter: var(--filter);
}
div.sec {
  background: var(--colors);
  opacity: var(--opacity);
  filter: var(--filter);
}
#center {
  background: #959595;
  width: 6px;
  height: 6px;
  font-size: 6px;
  margin: 0px;
}
#sec1 {
  display: none;
}
#min1 {
  display: none;
}
#hour1 {
  display: none;
}
